@import "variables";

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  li {
    .current-menu-item {
      a {
        color: $primary-color;
      }
    }
  }
}

.nav-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}

header {
  #navbar {
    margin-bottom: 20px;
    margin-right: 10px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 30em;
    a {
      color: black;
      font-size: 18px;
    }
    a:hover {
      border-bottom-color: $primary-color;
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
  }
}

ul {
  .current-menu-item {
    a {
      color: $primary-color;
      border-bottom-color: $primary-color;
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
  }
}

#hamburger-menu {
  display: none;
  span {
    ::after {
      background-color: $primary-color;
    }
    ::before {
      background-color: $primary-color;
    }
  }
  .hamburger-inner {
    background-color: $primary-color;
  }
}

@include MobileDevices {
  #hamburger-menu {
    display: block;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
  }

  header {
    nav {
      display: block;
    }
    ul {
      flex-direction: column;
    }
  }

  #navbar {
    display: none;
  }

  #current {
    a {
      border: none;
    }
  }

  #navbar.is-active {
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0.98);
    width: 100vw;
    left: 0;
    border-style: solid;
    border-bottom-color: $theme-grey;
    border-bottom-width: 2px;
    border-top-color: $theme-grey;
    border-top-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    li {
      padding-left: 20px;
      line-height: 60px;
      border-style: solid;
      border-bottom-color: $theme-grey;
      border-bottom-width: 2px;
    }
  }
}
