@import "reset";
@import "base";
@import "variables";
@import "font-styles";
@import "nav";

#hero {
  background-image: url("../images/illuminated-keyboard-1242287.jpg");
  height: 500px;
  background-size: cover;
  padding: 20px;
  display: flex;
  justify-content: flex-end;

  .title-container {
    width: 60%;
  }
  h1 {
    span {
      padding: 5px;
      box-decoration-break: clone;
      background-color: white;
      line-height: 70px;
    }
  }
  button {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #45b348;
    border-radius: 5px;
    margin-top: 10px;
    h2 {
      color: white;
    }
  }
}

#Services {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-radius: 5px;
      min-width: 200px;
      min-height: 200px;
      a {
        justify-content: center;
      }
      img {
        max-width: 150px;
      }
      h3 {
        text-align: center;
        padding-bottom: 10px;
      }
    }
    #design {
      background-color: $theme-yellow;
    }
    #strategy {
      background-color: $theme-blue;
    }
    #consulting {
      background-color: $theme-green;
    }
  }
}

#News {
  ul {
    background-color: $theme-orange;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    li {
      margin-left: 10px;
      a {
        line-height: 22px;
      }
    }
  }
}

footer {
  background-color: $primary-color;
}
