html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

button {
  border: none;
}

html {
  font-family: slabo;
}

.max-width-container {
  max-width: 80rem;
  margin: 0 auto;
}

main {
  padding: 10px;
}

footer {
  padding: 15px;
}

@font-face {
  font-family: slabo;
  src: url("../fonts/Slabo27px-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
p {
  font-size: 13pt;
}

h1 {
  color: #009ee3;
  font-size: 33pt;
}

main h2 {
  margin-bottom: 20px;
  margin-top: 3em;
}

h2 {
  color: #009ee3;
  font-size: 20pt;
}

h3 {
  color: #009ee3;
  font-size: 13pt;
}

h4 {
  color: #009ee3;
  font-size: 12pt;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 30em;
}
header ul a {
  font-size: 20px;
}
header ul a:hover {
  border-bottom-color: #009ee3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

#current a {
  color: #009ee3;
  border-bottom-color: #009ee3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

#hamburger-menu {
  display: none;
}
#hamburger-menu span ::after {
  background-color: #009ee3;
}
#hamburger-menu span ::before {
  background-color: #009ee3;
}
#hamburger-menu .hamburger-inner {
  background-color: #009ee3;
}

@media (max-width: 800px) {
  #hamburger-menu {
    display: block;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
  }

  header nav {
    display: block;
  }

  #navbar {
    display: none;
  }

  #navbar.is-active {
    position: absolute;
    display: block;
    background-color: white;
    width: 100em;
    border-style: solid;
    border-bottom-color: #d6d6d6;
    border-bottom-width: 2px;
    border-top-color: #d6d6d6;
    border-top-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #navbar.is-active :hover {
    background-color: #009ee3;
    cursor: pointer;
  }
  #navbar.is-active :hover a {
    color: white;
  }
  #navbar.is-active li {
    padding-left: 20px;
    line-height: 60px;
    border-style: solid;
    border-bottom-color: #d6d6d6;
    border-bottom-width: 2px;
  }
}
#hero {
  background-image: url("../images/illuminated-keyboard-1242287.jpg");
  height: 500px;
  background-size: cover;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
#hero .title-container {
  width: 60%;
}
#hero h1 span {
  padding: 5px;
  box-decoration-break: clone;
  background-color: white;
  line-height: 70px;
}
#hero button {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #45b348;
  border-radius: 5px;
  margin-top: 10px;
}
#hero button h2 {
  color: white;
}

#Services h2 {
  margin-top: 1em;
}
#Services ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#Services ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  min-width: 200px;
  min-height: 200px;
}
#Services ul li a {
  justify-content: center;
}
#Services ul li img {
  max-width: 150px;
}
#Services ul li h3 {
  text-align: center;
  padding-bottom: 10px;
}
#Services ul #design {
  background-color: #fffad8;
}
#Services ul #strategy {
  background-color: #c6effc;
}
#Services ul #consulting {
  background-color: #d8edd6;
}

#News ul {
  background-color: #faddd3;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#News ul li {
  margin-left: 10px;
}
#News ul li a {
  color: #009ee3;
  line-height: 1.5;
}
#News ul li a:hover {
  border-bottom: 2px solid #009ee3;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-bottom: 2em;
}
.grid-container img {
  width: 100%;
}
.grid-container #tina {
  display: grid;
  grid-column: 1/4;
  grid-row: 1/5;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: #fffad8;
  grid-template-areas: "tina-img . ." "tina-caption tina-caption ." "tina-quote tina-quote tina-quote";
}
.grid-container #tina img {
  box-sizing: border-box;
  padding: 10px;
  grid-area: tina-img;
}
.grid-container #tina .caption {
  grid-area: tina-caption;
  box-sizing: border-box;
  padding: 10px;
  z-index: 1;
  background-color: #fffad8;
}
.grid-container #tina blockquote {
  box-sizing: border-box;
  padding: 10px;
  font-size: 22px;
  line-height: 1.2;
  grid-area: tina-quote;
  z-index: 1;
  background-color: #fffad8;
}
.grid-container #tom {
  display: grid;
  grid-column: 2/5;
  grid-row: 1/5;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: #c6effc;
  grid-template-areas: ". tom-caption tom-img" ". tom-quote tom-quote" ". . .";
}
.grid-container #tom img {
  box-sizing: border-box;
  grid-area: tom-img;
  padding: 10px;
}
.grid-container #tom .caption {
  box-sizing: border-box;
  grid-area: tom-caption;
  justify-self: end;
  text-align: right;
  padding: 10px;
}
.grid-container #tom blockquote {
  font-size: 22px;
  line-height: 1.2;
  align-self: center;
  justify-self: end;
  text-align: right;
  padding: 10px;
  grid-area: tom-quote;
}
.grid-container #quote {
  display: grid;
  grid-column: 5/6;
  grid-row: 1/3;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: #009ee3;
  z-index: 1;
  grid-template-areas: "quote-img" ".";
}
.grid-container #quote img {
  grid-area: quote-img;
}
.grid-container #director {
  display: grid;
  grid-column: 5/9;
  grid-row: 1/5;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  background-color: #d8edd6;
  grid-template-areas: ". director-img director-img director-img" ". director-img director-img director-img" "director-caption director-caption director-caption director-caption" "director-quote director-quote director-quote director-quote";
  justify-self: end;
  text-align: right;
}
.grid-container #director img {
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
  grid-area: director-img;
}
.grid-container #director .caption {
  grid-area: director-caption;
  box-sizing: border-box;
  padding: 10px;
}
.grid-container #director blockquote {
  font-size: 22px;
  line-height: 1.2;
  grid-area: director-quote;
  box-sizing: border-box;
  padding: 10px;
}

footer {
  background-color: #009ee3;
  color: white;
}
footer a {
  color: white;
}
footer a:visited {
  color: white;
}
footer p {
  margin-bottom: 20px;
}
footer p:nth-child(2) {
  margin-right: 50%;
}
footer h3 {
  color: white;
}
footer ul {
  list-style: initial;
  margin-left: 30px;
  font-size: 0.8em;
  line-height: 1.2;
}
footer ul li:last-child {
  margin-bottom: 20px;
}
footer nav {
  align-items: baseline;
}
footer nav ul {
  list-style: none;
  font-size: 1em;
  line-height: 1;
}

/*# sourceMappingURL=styles.css.map */
