---
layout: main
---

<section id="Services" class="max-width-container">
  <h2>Leistungen</h2>
  <ul>
    <li id="design">
      <a href="#">
        <h3>Design</h3>
        <img src="./images/design.png" alt="design" />
      </a>
    </li>
    <li id="strategy">
      <a href="#">
        <h3>Strategie</h3>
        <img src="./images/strategy.png" alt="strategy" />
      </a>
    </li>
    <li id="consulting">
      <a href="#">
        <h3>Consulting</h3>
        <img src="./images/consulting.png" alt="consulting" />
      </a>
    </li>
  </ul>
</section>
<section id="News" class="max-width-container">
  <h2>News</h2>
  {% assign news = collections.news | reverse %}
  <ul>
    {% for n in news limit:3 %}
    <li><a href='{{ n.url }}'>{{ n.data.title }}</a> – {{ n.data.excerpt }} <a href='{{ n.url }}'>[mehr erfahren]</a>
    </li>
    {% endfor %}
  </ul>
</section>
<section id="References" class="max-width-container">
  <h2>Referenzen</h2>
  <div class="grid-container">
    <article id="tina">
      <img src="./images/dina-meyer.jpg" alt="Tina Ubuntu" />
      <div class="caption">
        <cite>Tina Ubuntu</cite>
        <p>CEO headless Ltd.</p>
      </div>
      <blockquote>
        Alex' Redesign hat maßgeblich mitgeholfen, unseren Umsatz um 20%
        in die Höhe zu treiben!
      </blockquote>
    </article>
    <article id="tom">
      <img src="./images/thomas-meyer.jpg" alt="Tom Herzog" />
      <div class="caption">
        <cite>Tom Herzog</cite>
        <p>Cutter's Finest</p>
      </div>
      <blockquote>
        Große Webkunst - keine Kunst mit Alex Mayer!
      </blockquote>
    </article>
    <div id="quote">
      <img src="./images/quotation_mark.svg" alt="quote icon" />
    </div>
    <article id="director">
      <img src="./images/vorstand.jpg" alt="Vorstand Müller AG" />
      <div class="caption">
        <cite>Vorstand Müller AG</cite>
        <p>KR Ernst Anker, Dr. Florian Eisner</p>
      </div>
      <blockquote>
        Das Store-Konzept von Alex Mayer hat unsere größten Erwartungen
        übertroffen.
      </blockquote>
    </article>
  </div>
</section>